body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}
.info.legend {
  background: rgba(255, 255, 255, 0.7); 
  border: 2px solid #000; 
  padding: 10px; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  font-size: 14px; 
  color: #333; 
  line-height: 1.6; 
}

/* Style for the colored squares in the legend */
.info.legend i {
  border-radius: 3px; 
}

/* FAQ Sidebar Styles */
#faq-sidebar {
  position: fixed;
  top: 50px;  
  left: 10px;  
  width: 250px; 
  background-color: rgba(255, 255, 255, 0.3); 
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); 
  z-index: 1000;  
  max-height: 90%; 
  overflow-y: auto; 
}

#faq-sidebar h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

#faq-sidebar ul {
  list-style-type: none;
  padding: 0;
}

#faq-sidebar li {
  margin-bottom: 15px;
}

#faq-sidebar li strong {
  font-weight: bold;
}

#faq-sidebar p {
  margin: 5px 0;
  font-size: 14px;
}